/.well-known
/caches
/logs
/thumbs
/watermark
/libraries/*/
!/libraries/type/
!/libraries/class/
!/libraries/database/
!/libraries/lang/
/libraries/PHPExcel.php
/libraries/PHPWord.php
/libraries/Readme-PDOBb.md
/assets/*/
!/assets/css/
!/assets/js/
!/assets/images/
!/assets/bootstrap/
/development
/composer
/css/fontawesome
/css/fonts
/css/magiczoomplus
/js/datepicker
/js/photobox
/js/t-datepicker
/node_modules
/production
/upload
/vendor
*.zip
*.sql
package-lock.json